
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-row: auto 80px 200px;
  grid-gap: 7px;
  background-color: #FFE08C;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
#item1{
	grid-column-start: 1;
	grid-column-end: 5;
}
#item2{	
	grid-column-start: 1;
	grid-column-end: 4;
}
#item3{
	grid-column-start: 4;
	grid-column-end: 5;
}

#item5{
	grid-column-start: 2;
	grid-column-end: 5;

}
#item6{
	grid-column-start: 1;
	grid-column-end: 5;
}
