@CHARSET "UTF-8";

.register-container{
	display: grid;
	grid-template-columns: auto auto auto ;
	padding: 5px;
	background-color: #FFE08C;
	width: 1000px;
	margin: 0px auto;
}
.register-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
#register-item2{
	grid-column-start: 2;
	grid-column-end: 4;
}
#register-item4{
	grid-column-start: 2;
	grid-column-end: 4;
}
#register-item6{
	grid-column-start: 2;
	grid-column-end: 4;
}
#register-item8{
	grid-column-start: 2;
	grid-column-end: 4;
}
#register-item10{
	grid-column-start: 2;
	grid-column-end: 4;
}
#register-item11{
	grid-column-start: 1;
	grid-column-end: 3;
}
